<div ng-include="'components/navbar/navbar.html'"></div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Offline Messages</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Offline Messages</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <ul style="padding-left:10px;height:600px;overflow-y:auto" class="slimScrollDiv" >
                    <div class="timeline " data-ng-repeat="tl in timelines">
                        <li class="time-label">
                            <span class="bg-red">{{tl.date}}</span>
                        </li>
                        <li data-ng-repeat="m in tl.messages">
                            <i class="fa fa-envelope bg-blue"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i>{{m.time}}</span>
                                <h3 class="timeline-header"><a href="#">{{m.email}}</a><span class="timeline-name">{{m.name}}</span></h3>
                                <div class="timeline-body">{{m.message}}</div>
                                <div class="timeline-footer" ng-if="m.url">
                                    <a href="{{m.url}}" target="_blank">{{m.url}}</a>
                                    <a class="btn btn-warning pull-right" ng-click="readMessage(m)">Read<a>
                                </div>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>       
        </div>
    <!-- /.row (main row) -->
    </section>
</div><!-- /.content-wrapper -->