<!--div ng-include="'components/navbar/navbar.html'"></div-->
<link rel="stylesheet" href="/assets/plugins/iCheck/square/blue.css">
<style>
    .help-block {
        color: #a94442;
    }
</style>
<div class="login-box">

    <div class="login-logo" style="margin-top: 20%;">
        <p class="login-box-msg">{{'text.intro.rc' | translate}}</p>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">{{'text.intro.stalk' | translate}}</p>

        <form id="" name="form" ng-submit="login(form)" class="form-horizontal" novalidate>

            <div class="form-group has-feedback" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
                <input type="email" name="email" ng-model="user.email" class="form-control" placeholder="Email" required
                       mongoose-error>
                <span class="glyphicon glyphicon-envelope form-control-feedback" style="top: 0"></span>

                <p class="help-block" ng-show="form.email.$error.email && submitted">
                    {{'valid.input.email' | translate}}
                </p>

                <p class="help-block" ng-show="form.email.$error.required && submitted">
                    {{'required.input.email' | translate}}
                </p>

                <p class="help-block" ng-show="form.email.$error.mongoose">
                    {{ errors.email }}
                </p>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
                <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                       ng-model="user.password"
                       ng-minlength="3"
                       required
                       mongoose-error/>

                <p class="help-block"
                   ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
                    {{'valid.input.passwd' | translate}}
                </p>

                <p class="help-block" ng-show="form.password.$error.mongoose">
                    {{ errors.password }}
                </p>
                <span class="glyphicon glyphicon-lock form-control-feedback" style="top: 0"></span>
            </div>
            <p class="help-block" ng-show="result">
                {{ result }}
            </p>

            <div class="row">
                <div class="col-xs-8">
                    <a href="#">{{'text.forgot.passwd' | translate}}</a><br>
                    <a ng-if="needEmailConfirm" href="/signupmail" class="text-center">{{'text.register.member' | translate}}</a>
                    <a ng-if="!needEmailConfirm" href="/signupdirect" class="text-center">{{'text.register.member' | translate}}</a>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-default btn-block btn-flat">{{'button.signin' | translate}}</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
    <div class="login-logo">
        <img src="/assets/images/logo/stalk_logo_blank.png" width="250px" style="margin-top: -89.5px;"/>
        <!--<a href="/"><b>LINK</b>XPUSH</a>-->
    </div>
    <!-- /.login-box-body -->
</div><!-- /.login-box -->

<!-- iCheck -->
<script src="assets/plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript">
    $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%' // optional
    });
</script>
