<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Check In Service - GS SHOP <%= whoami %></a>

</div>
<!-- /.navbar-header -->

<ul class="nav navbar-top-links navbar-right">
    <!--<li class="dropdown">-->
        <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">-->
            <!--<i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>-->
        <!--</a>-->
        <!--<ul class="dropdown-menu dropdown-messages">-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<div>-->
                        <!--<strong>John Smith</strong>-->
                        <!--<span class="pull-right text-muted">-->
                            <!--<em>Yesterday</em>-->
                        <!--</span>-->
                    <!--</div>-->
                    <!--<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<div>-->
                        <!--<strong>John Smith</strong>-->
                        <!--<span class="pull-right text-muted">-->
                            <!--<em>Yesterday</em>-->
                        <!--</span>-->
                    <!--</div>-->
                    <!--<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<div>-->
                        <!--<strong>John Smith</strong>-->
                        <!--<span class="pull-right text-muted">-->
                            <!--<em>Yesterday</em>-->
                        <!--</span>-->
                    <!--</div>-->
                    <!--<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
                <!--<a class="text-center" href="#">-->
                    <!--<strong>Read All Messages</strong>-->
                    <!--<i class="fa fa-angle-right"></i>-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
        <!--&lt;!&ndash; /.dropdown-messages &ndash;&gt;-->
    <!--</li>-->
    <!--&lt;!&ndash; /.dropdown &ndash;&gt;-->
    <!--<li class="dropdown">-->
        <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">-->
            <!--<i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>-->
        <!--</a>-->
        <!--<ul class="dropdown-menu dropdown-tasks">-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<div>-->
                        <!--<p>-->
                            <!--<strong>Task 1</strong>-->
                            <!--<span class="pull-right text-muted">40% Complete</span>-->
                        <!--</p>-->
                        <!--<div class="progress progress-striped active">-->
                            <!--<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">-->
                                <!--<span class="sr-only">40% Complete (success)</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<div>-->
                        <!--<p>-->
                            <!--<strong>Task 2</strong>-->
                            <!--<span class="pull-right text-muted">20% Complete</span>-->
                        <!--</p>-->
                        <!--<div class="progress progress-striped active">-->
                            <!--<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">-->
                                <!--<span class="sr-only">20% Complete</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<div>-->
                        <!--<p>-->
                            <!--<strong>Task 3</strong>-->
                            <!--<span class="pull-right text-muted">60% Complete</span>-->
                        <!--</p>-->
                        <!--<div class="progress progress-striped active">-->
                            <!--<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">-->
                                <!--<span class="sr-only">60% Complete (warning)</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<div>-->
                        <!--<p>-->
                            <!--<strong>Task 4</strong>-->
                            <!--<span class="pull-right text-muted">80% Complete</span>-->
                        <!--</p>-->
                        <!--<div class="progress progress-striped active">-->
                            <!--<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">-->
                                <!--<span class="sr-only">80% Complete (danger)</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
                <!--<a class="text-center" href="#">-->
                    <!--<strong>See All Tasks</strong>-->
                    <!--<i class="fa fa-angle-right"></i>-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
        <!--&lt;!&ndash; /.dropdown-tasks &ndash;&gt;-->
    <!--</li>-->
    <!--&lt;!&ndash; /.dropdown &ndash;&gt;-->
    <!--<li class="dropdown">-->
        <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">-->
            <!--<i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>-->
        <!--</a>-->
        <!--<ul class="dropdown-menu dropdown-alerts">-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<div>-->
                        <!--<i class="fa fa-comment fa-fw"></i> New Comment-->
                        <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<div>-->
                        <!--<i class="fa fa-twitter fa-fw"></i> 3 New Followers-->
                        <!--<span class="pull-right text-muted small">12 minutes ago</span>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<div>-->
                        <!--<i class="fa fa-envelope fa-fw"></i> Message Sent-->
                        <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<div>-->
                        <!--<i class="fa fa-tasks fa-fw"></i> New Task-->
                        <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<div>-->
                        <!--<i class="fa fa-upload fa-fw"></i> Server Rebooted-->
                        <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
                <!--<a class="text-center" href="#">-->
                    <!--<strong>See All Alerts</strong>-->
                    <!--<i class="fa fa-angle-right"></i>-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
        <!--&lt;!&ndash; /.dropdown-alerts &ndash;&gt;-->
    <!--</li>-->
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-message">
            <li><a href="#" onclick="showModal();"><i class="fa fa-user fa-fw"></i> User Profile</a>
            </li>
            <!--<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>-->
            <!--</li>-->
            <li class="divider"></li>
            <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
<!-- Modal -->
<div class="modal fade" id="myProfileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
				<div class="modal-content">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel">My Profile</h4>
						</div>
						<form role="form" id="profileForm" data-toggle="validator" action="/myprofile/update" method="post">
						<div class="modal-body">

								<div class="row">
										<div class="col-lg-12">

														<div class="form-group">
																<label>E-mail</label>
																<p class="help-block" id="email"></p>
														</div>
														<div class="form-group">
																<label>User Name</label>
																<input id="username" name="username" class="form-control" placeholder="Enter Name" required>
														</div>
												<div class="form-group">

														<div class="checkbox">
																<label>
																		<input type="checkbox" name="check" id="change_password" > Do you want change password?
																</label>
														</div>

												</div>
												<div class="form-group">
														<label>New Password</label>
														<input type="password" name="newpassword" id="newpassword" class="form-control" placeholder="New password here" required disabled>

												</div>
												<div class="form-group">
														<label>Password Again</label>
														<input type="password" id="passwordagain" class="form-control" placeholder="New password again" data-match="#newpassword" data-match-error="Whoops, these don't match" required disabled>
														<div class="help-block with-errors"></div>
												</div>


										</div>

						</div>
						<div class="modal-footer">
								<div class="form-group">
										<button type="submit" class="btn btn-primary">Save</button>
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
						</div>

								</div>
						</form>
				</div>
				<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
</div>
		</div>
<!-- /.modal -->
<!-- /.navbar-top-links -->
<script>

		$(document).ready(function(){
				$('#profileForm').validator();

				$("#change_password").click(function(){

						var chk = $(this).is(":checked");//.attr('checked');
						if(chk){
								$('#newpassword').attr('disabled', false);
								$('#passwordagain').attr('disabled', false);
						}else{
								$('#newpassword').attr('disabled', true);
								$('#passwordagain').attr('disabled', true);

						}



				});
		});
		function showModal(){

				$.get("/myprofile"
						,{}
						,function(result){
								console.log(result);

								$('#email').html(result.email);
								$('#username').val(result.username);
								$('#myProfileModal').modal('show');

						})

		}

</script>
<script src="/bower_components/bootstrap/js/validator.js"></script>