<aside class="main-sidebar">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
				<!-- Sidebar user panel -->
				<!-- sidebar menu: : style can be found in sidebar.less -->
				<ul class="sidebar-menu">
						<li class="header">MAIN NAVIGATION</li>
						<li class="treeview">
								<a href="/dashboard">
										<i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
								</a>
						</li>
						<li class="treeview">
								<a href="/site">
										<i class="fa fa-laptop"></i> <span>SITE</span> <i class="fa fa-angle-left pull-right"></i>
								</a>
						</li>

				</ul>
		</section>
		<!-- /.sidebar -->
</aside>
