<%layout('layout')%>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Alexander Pierce</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">Live Link</li>
        <li><a href="documentation/index.html"><i class="fa fa-circle-o text-red"></i> <span>김요한</span></a></li>
        <li><a href="documentation/index.html"><i class="fa fa-circle-o text-yellow"></i> <span>127.0.0.1</span></a></li>
        <li><a href="documentation/index.html"><i class="fa fa-circle-o text-aqua" ></i> <span>127.0.0.2</span></a></li>
        <li><a href="documentation/index.html"><i class="fa fa-circle-o text-aqua"></i> <span>127.0.0.3</span></a></li>
        <li><a href="documentation/index.html"><i class="fa fa-circle-o text-aqua"></i> <span>127.0.0.4</span></a></li>


        <li class="header">Waiting List</li>
        <li><a href="#"><i class="fa fa-circle-o"></i> <span>127.0.0.5</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o"></i> <span>127.0.0.6</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o"></i> <span>127.0.0.7</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o"></i> <span>127.0.0.8</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o"></i> <span>127.0.0.9</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Link
        <small> with customers</small>
      </h1>

    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-md-8">
          <!-- DIRECT CHAT PRIMARY -->
          <div class="box box-primary direct-chat direct-chat-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Direct Chat</h3>
              <div class="box-tools pull-right">
                <span data-toggle="tooltip" title="3 New Messages" class="badge bg-light-blue">3</span>
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle"><i class="fa fa-comments"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div><!-- /.box-header -->
            <div class="box-body">
              <!-- Conversations are loaded here -->
              <div class="direct-chat-messages">
                <!-- Message. Default to the left -->
                <div class="direct-chat-msg">
                  <div class="direct-chat-info pull-left clearfix">
                    <span class="direct-chat-name pull-left">Alexander Pierce</span>
                    <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
                  </div><!-- /.direct-chat-info -->
                  <br/>
                  <img class="direct-chat-img" src="./dist/img/user1-128x128.jpg" alt="message user image"><!-- /.direct-chat-img -->
                  <div class="direct-chat-text">
                    Is this template really for free? That's unbelievable!
                  </div><!-- /.direct-chat-text -->
                </div><!-- /.direct-chat-msg -->

                <!-- Message to the right -->
                <div class="direct-chat-msg right">
                  <div class="direct-chat-info pull-right clearfix">
                    <span class="direct-chat-name pull-right">Sarah Bullock</span>
                    <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
                  </div><!-- /.direct-chat-info -->
                  <br/>
                  <img class="direct-chat-img" src="./dist/img/user3-128x128.jpg" alt="message user image"><!-- /.direct-chat-img -->
                  <div class="direct-chat-text">
                    You better believe it!
                  </div><!-- /.direct-chat-text -->
                </div><!-- /.direct-chat-msg -->

                <div class="direct-chat-msg">
                  <div class="direct-chat-info pull-left clearfix">
                    <span class="direct-chat-name pull-left">Alexander Pierce</span>
                    <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
                  </div><!-- /.direct-chat-info -->
                  <br/>
                  <img class="direct-chat-img" src="./dist/img/user1-128x128.jpg" alt="message user image"><!-- /.direct-chat-img -->
                  <div class="direct-chat-text">
                    Is this template really for free? That's unbelievable!
                  </div><!-- /.direct-chat-text -->
                </div><!-- /.direct-chat-msg -->

                <!-- Message to the right -->
                <div class="direct-chat-msg right">
                  <div class="direct-chat-info pull-right clearfix">
                    <span class="direct-chat-name pull-right">Sarah Bullock</span>
                    <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
                  </div><!-- /.direct-chat-info -->
                  <br/>
                  <img class="direct-chat-img" src="./dist/img/user3-128x128.jpg" alt="message user image"><!-- /.direct-chat-img -->
                  <div class="direct-chat-text">
                    You better believe it!
                  </div><!-- /.direct-chat-text -->
                </div>
              </div><!--/.direct-chat-messages-->

            </div><!-- /.box-body -->
            <div class="box-footer">
              <form action="#" method="post">
                <div class="input-group">
                  <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-primary btn-flat">Send</button>
                  </span>
                </div>
              </form>
            </div><!-- /.box-footer-->
          </div><!--/.direct-chat -->
        </div><!-- /.col -->
        <div class="col-md-4">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Customer Info</h3>
              <div class="box-tools">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
              </div>
            </div>
            <div class="box-body no-padding">
              <ul class="nav nav-pills nav-stacked">
                <li><a href="#"><i class="fa fa-inbox"></i> Started : 1, June 10:50 AM. </a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> DNS : 127.0.0.1</a></li>
                <li><a href="#"><i class="fa fa-file-text-o"></i> Path : http://stalk.io</a></li>
                <li><a href="#"><i class="fa fa-file-text-o"></i> OS : Chrome, Window 7</a></li>
                <li><a href="#"><i class="fa fa-file-text-o"></i> Location : Seoul, Korea</a></li>
              </ul>
            </div><!-- /.box-body -->
          </div><!-- /. box -->
          <!-- Map box -->
          <div class="box box-solid bg-light-blue-gradient">
            <div class="box-header">
              <!-- tools box -->
              <div class="pull-right box-tools">
                <button class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="Date range"><i class="fa fa-calendar"></i></button>
                <button class="btn btn-primary btn-sm pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>
              </div><!-- /. tools -->

              <i class="fa fa-map-marker"></i>
              <h3 class="box-title">
                Customer Location
              </h3>
            </div>
            <div class="box-body">
              <div id="world-map" style="height: 250px; width: 100%;"></div>
            </div><!-- /.box-body-->
          <!-- /.box -->
        </div>
      </div>
    </div><!-- /.row (main row) -->

  </section><!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
  </div><!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.3.0
    </div>
    <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
  </footer>


  <div class="control-sidebar-bg"></div>


