<header id="navHeader" class="main-header" ng-controller="NavbarCtrl">
  <!-- Logo -->
  <a href="/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><img src="assets/images/logo/stalk_simple_white_bg.png" height="40px"/></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><img src="assets/images/logo/stalk_logo_notext.png" height="40px"/></span>

  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <!--<div class="navbar-custom-menu" style="margin-top: 7px;margin-right: 7px;">-->
    <!-- -->
    <!--<a href="/chat" class="btn btn-social-icon btn-foursquare" style="background-color:#376682"><i class="fa fa-commenting-o"></i></a>-->
    <!--<a ng-show="isLoggedIn()"  ng-click="logout()" class="btn btn-social-icon btn-foursquare" style="background-color:#D60E0E"><i class="fa fa-power-off"></i></a>-->
    <!--</div>-->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <li class="dropdown messages-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope-o"></i>
            <span class="label label-success" ng-if="unreadCount > 0" ng-bind="unreadCount"></span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have <span ng-bind="unreadCount"></span> messages</li>
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li ng-repeat="m in unreadMessage"><!-- start message -->
                  <a href="###" ng-click="gotoChat(m)">
                    <div class="pull-left">
                      <img ng-src="{{m.image}}" class="img-circle" alt="{{m.name}}">
                    </div>
                    <h4>
                      {{m.name}}
                      <small><i class="fa fa-clock-o"></i> {{m.timeBefore}}</small>
                    </h4>
                    <p>{{m.message}}</p>
                  </a>
                </li><!-- end message -->
              </ul>
            </li>
            <li class="footer"><a href="###" ng-click="gotoChat()">View all</a></li>
          </ul>
        </li>
        <!-- Notifications: style can be found in dropdown.less -->
        <!-- Tasks: style can be found in dropdown.less -->
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
            <img ng-src="{{ getCurrentUser().image }}" class="user-image" alt="User Image">
            <span class="hidden-xs">{{ getCurrentUser().name }}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="{{ getCurrentUser().image }}" class="img-circle" alt="User Image">
              <p>
                {{ getCurrentUser().name }}
                <small>{{ getCurrentUser().email }}</small>
              </p>
            </li>
            <!-- Menu Body -->
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="#" ng-click="profile();" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a href="#" ng-click="logout();" class="btn btn-default btn-flat">Log out</a>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a href="/chat"><i class="fa fa-commenting-o"></i> Chat</a>
          <!--<a href="/chat" class="btn btn-social-icon btn-foursquare" style="background-color:#376682"><i class="fa fa-commenting-o"></i></a>-->
        </li>
      </ul>
    </div>
  </nav>
</header>

<aside id="navAside" class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li class="treeview">
        <a href="/dashboard">
          <i class="fa fa-dashboard"></i> <span>Realtime Manager</span> <i
                class="fa fa-angle-left pull-right"></i>
        </a>
      </li>
      <li class="treeview">
        <a href="/site">
          <i class="fa fa-laptop"></i> <span>Site Manage</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
      </li>
      <li class="treeview">
        <a href="/offline">
          <i class="fa fa-laptop"></i> <span>Out of office</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
      </li>
      <li>

      </li>
    </ul>
  </section>
    <!-- /.sidebar -->
</aside>

<script src="assets/js/app.js"></script>

<div id="errorModal" class="modal fade" role="dialog">

  <div class="modal-danger">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title"><i class="fa fa-warning text-red"></i> &nbsp; Oops! Something went wrong.</h4>
        </div>
        <div class="modal-body">
          <div ng-bind-html="errorMessage"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
        </div>
      </div>
        <!-- /.modal-content -->
    </div>
      <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>

<div ng-include="'components/navbar/navbar.modal_profile.html'"></div>
