<header class="main-header">
	<!-- Logo -->
	<a href="/" class="logo">
		<!-- mini logo for sidebar mini 50x50 pixels -->
		<span class="logo-mini"><b>PU</b>PPY</span>
		<!-- logo for regular state and mobile devices -->
		<span class="logo-lg"><img src="assets/img/logo/link_logo_typo_white.png" height="40px"/></span>

	</a>
	<!-- Header Navbar: style can be found in header.less -->
	<nav class="navbar navbar-static-top" role="navigation">
		<!-- Sidebar toggle button-->
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
			<span class="sr-only">Toggle navigation</span>
		</a>

		<div class="navbar-custom-menu" style="margin-top: 7px;margin-right: 7px;">
			<a class="btn btn-social-icon btn-foursquare" style="background-color:#00C0EF"><i class="fa fa-link"></i></a>
			<a class="btn btn-social-icon btn-foursquare" style="background-color:#00A65A"><i class="fa fa-ambulance"></i></a>
			<a class="btn btn-social-icon btn-foursquare" style="background-color:#EC911C"><i class="fa fa-unlink"></i></a>
			<a class="btn btn-social-icon btn-foursquare" style="background-color:#D60E0E"><i class="fa fa-power-off"></i></a>
			<a href="/" class="btn btn-social-icon btn-foursquare" style="background-color:#376682"><i class="fa fa-gears"></i></a>

		</div>
	</nav>
</header>

<script src="assets/js/app.js"></script>
