<div id="profileModal" class="modal fade" role="dialog">

  <div class="modal-default">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Update Profile</h4>
        </div>
        <div class="modal-body">
          <form role="form" name="form" class="form-horizontal" novalidate>
            <div class="box-body">
              <div class="form-group has-feedback" ng-class="{ 'has-success': form.user_name.$valid && submitted, 'has-error': form.user_name.$invalid && submitted }">
                <label for="user_name">User Name</label>
                <input type="text" class="form-control" id="user_name" name="user_name" ng-model="profileInfo.name" placeholder="Enter your Name" required>

                <p class="help-block" ng-show="form.user_name.$error.required && submitted">
                    What's your name?
                </p>
              </div>
              <div class="form-group has-feedback" ng-class="{ 'has-success': form.profile_url.$valid && submitted,'has-error': form.profile_url.$invalid && submitted }">
                <label for="profile_url">Profile Url</label>
                <input type="url" class="form-control" id="profile_url" name="profile_url"
                       ng-model="profileInfo.image" placeholder="http://imageurl" required>

                <p class="help-block" ng-show="form.user_name.$error.required && submitted">
                  What's your profile image url?
                </p>

                <p class="help-block" ng-show="form.profile_url.$error.url && submitted">
                  Doesn't look like a valid url.
                </p>
              </div>               
            </div>
            <!-- /.box-body -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          <button type="button" id="updateProfile" ng-click="updateProfile(form)" class="btn btn-info">
            Update
          </button>
        </div>
      </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
    <!-- /.modal -->

</div>