<link rel="stylesheet" href="/assets/plugins/iCheck/square/blue.css">
<style>
    .help-block {
        color: #a94442;
    }
</style>
<div class="register-box">
    <div class="register-logo">
        <img src="assets/images/logo/stalk.png" width="300px"/>

    </div>

    <div class="register-box-body">
        <p class="login-box-msg">Register a new membership</p>

        <form name="form" ng-submit="register(form)" class="form-horizontal" novalidate>
            <div class="form-group has-feedback" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
                <input type="text" name="name" ng-model="user.name" class="form-control" placeholder="Full name"
                       required readonly>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>

                <p class="help-block" ng-show="form.name.$error.required && submitted">
                    A name is required
                </p>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
                <input type="email" name="email" ng-model="user.email" class="form-control" placeholder="Email" required
                       mongoose-error readonly>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>

                <p class="help-block" ng-show="form.email.$error.email && submitted">
                    Doesn't look like a valid email.
                </p>

                <p class="help-block" ng-show="form.email.$error.required && submitted">
                    What's your email address?
                </p>

                <p class="help-block" ng-show="form.email.$error.mongoose">
                    {{ errors.email }}
                </p>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
                <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                       ng-model="user.password"
                       ng-minlength="3"
                       required
                       mongoose-error/>

                <p class="help-block"
                   ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
                    Password must be at least 3 characters.
                </p>

                <p class="help-block" ng-show="form.password.$error.mongoose">
                    {{ errors.password }}
                </p>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-success': form.passwordchk.$valid && submitted,
                                            'has-error': form.passwordchk.$invalid && submitted }">
                <input type="password" name="passwordchk" ng-model="user.passwordchk" class="form-control"
                       placeholder="Retype password" required pw-check="password">
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>

                <p class="help-block"
                   ng-show="form.passwordchk.$error.pwmatch">
                    Password must be same.
                </p>
            </div>
            <p class="help-block" ng-show="result">
                {{ result }}
            </p>

            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <!--<input type="checkbox"> I agree to the <a href="#">terms</a>-->
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <a href="/login" class="text-center">I already have a membership</a>
    </div>
    <!-- /.form-box -->
</div><!-- /.register-box -->

<!-- iCheck -->
<script src="assets/plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript">
    $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%' // optional
    });
</script>