<div ng-include="'components/navbar/navbar.html'"></div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{'text.yoursite' | translate}}
            <small>{{'text.with.customer' | translate}}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Site Manage</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>{{'text.sitename' | translate}}</th>
                                <th>{{'text.siteurl' | translate}}</th>
                                <th>{{'text.appCode' | translate}}</th>
                            </tr>
                            <tbody id="siteTableBody">
                            <tr data-ng-repeat="site in sites" ng-click="getCode(site)">
                                <td>{{site.name}}</td>
                                <td>{{site.url}}</td>
                                <td>{{site.key}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" id="newsite" ng-click="openModal()" class="btn btn-primary">{{'button.create' | translate}}</button>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
        <div id="siteDetail" class="row">
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{'text.getscript' | translate}}</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">{{'text.sitename' | translate}}</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail3" data-ng-model="_site.name"
                                           placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">{{'text.siteurl' | translate}}</label>

                                <div class="col-sm-10">
                                    <input type="url" class="form-control" id="inputPassword3" data-ng-model="_site.url"
                                           placeholder="Url">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">{{'text.copyscript' | translate}}<br/> {{'text.pastescript' | translate}}</label>
                                <div class="col-sm-10">
                                    <pre style="font-weight: 600;">{{script}}</pre>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" ng-click="removeSite(_site.name, _site);"
                                    class="btn btn-danger pull-left" ng-disabled="isDisable">{{'button.delete' | translate}}
                            </button>
                            <button type="submit" ng-click="updateSite();" class="btn btn-info pull-right"
                                    ng-disabled="isDisable">{{'button.update' | translate}}
                            </button>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
                <!-- /.box -->
                <!-- general form elements disabled -->

            </div>
        </div>
    </section>
    <!-- /.content -->
    <script type="text/ng-template" id="modalContent.html">

        <div class="modal-default">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.cancel();">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">{{'text.getscript' | translate}}</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" name="form" class="form-horizontal" novalidate>
                            <div class="box-body">
                                <div class="form-group has-feedback" ng-class="{ 'has-success': form.site_name.$valid && $ctrl.submitted,
                                            'has-error': form.site_name.$invalid && $ctrl.submitted }">
                                    <label for="site_name">{{'text.sitename' | translate}}</label>
                                    <input type="text" class="form-control" id="site_name" name="site_name"
                                           ng-model="$ctrl.newSite.site_name" placeholder="Enter Site Name" required>

                                    <p class="help-block" ng-show="form.site_name.$error.required && $ctrl.submitted">
                                        {{'required.input.sitename' | translate}}
                                    </p>
                                </div>


                                <div class="form-group has-feedback" ng-class="{ 'has-success': form.site_url.$valid && $ctrl.submitted,
                                            'has-error': form.site_url.$invalid && $ctrl.submitted }">
                                    <label for="site_url">{{'text.siteurl' | translate}}</label>
                                    <input type="url" class="form-control" id="site_url" name="site_url"
                                           ng-model="$ctrl.newSite.site_url" placeholder="http://yoursite" required>

                                    <p class="help-block" ng-show="form.site_url.$error.required && $ctrl.submitted">
                                        {{'required.input.siteurl' | translate}}
                                    </p>

                                    <p class="help-block" ng-show="form.site_url.$error.url && $ctrl.submitted">
                                        {{'invalid.input.siteurl' | translate}}
                                    </p>
                                </div>

                            </div>
                            <!-- /.box-body -->

                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" ng-click="$ctrl.cancel();">{{'button.close' | translate}}</button>
                        <button type="button" id="addNewSite" ng-click="$ctrl.addNewSite(form)" class="btn btn-info">{{'button.addsite' | translate}}
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

    </script>

    <script type="text/ng-template" id="successModalContent.html">
        <div class="modal-success">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="$ctrl.cancel();" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{'text.getscript' | translate}}</h4>
                    </div>
                    <div class="modal-body">
                        {{'text.copyscript' | translate}}&nbsp;{{'text.pastescript' | translate}}
                        <pre style="font-weight: 300;font-size:10px">{{successScript}}</pre>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" ng-click="$ctrl.cancel();">{{'button.close' | translate}}</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

    </script>
</div>