<%layout('../layout')%>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">My Check In</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3></h3>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        Point
                                    </th>
                                    <th>
                                        Positive
                                    </th>
                                    <th>
                                        Negative
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Image
                                    </th>
				                                <th>
						                                Replies
				                                </th>
                                </tr>
                            </thead>
                            <tbody id="tb">
                                
                            </tbody>
                        </table>
                    </div>
                   
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
			<div class="row">
				<div class="col-lg-12">
						<div class="panel panel-info">
								<div class="panel-heading">
										My Check In Chart
								</div>
								<!-- /.panel-heading -->
								<div class="panel-body">
										<div class="flot-chart">
												<div class="flot-chart-content" id="flot-line-chart"></div>
										</div>
								</div>
								<!-- /.panel-body -->
						</div>
						<!-- /.panel -->
				</div>
		</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
						<div class="modal-content">
								<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title" id="myModalLabel">Replies</h4>
								</div>
								<div class="modal-body">
										<ul class="timeline" id="timeline">


										</ul>
								</div>
								<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

								</div>
						</div>
						<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

<!-- /#page-wrapper -->
<script src="/socket.io/socket.io.js"></script>
<script>
		//var socket = io.connect('http://'+document.location.host);
  var socket;
  if((document.location.host).indexOf("gscheckin-iiccheckin")>-1){
    socket = io.connect('http://gscheckin-iiccheckin.rhcloud.com:8000/', {'forceNew':true });
  }else{
    socket = io.connect('http://'+document.location.host);
  }
		socket.on('connect', function () {
				console.log("Socket Connected");

		});

  $(document).ready(function(){
		  <%if(data!=""){%>
		    socket.emit('checkin today',{group:"<%=whoami%>"});

		  <%}%>
    getList();
  })




  function getList(){
      $.get("/checkin/list"
            ,{}
            ,function(result){
              var tb = $('#tb');
              tb.html("");
														makeChart(result.checkin);
              $.each(result.checkin,function(a,b){
                  console.log(b);
                  //var html ="<tr><td><button type='button' class='btn btn-warning btn-circle' onclick='delBbs(\""+b._id+"\")'><i class='fa fa-times'></i></button></td><td>"+b.content+"&nbsp;&nbsp;<button type='button' class='btn btn-danger btn-circle' onclick='vote(\""+b._id+"\")'><i class='fa fa-heart'></i></button></td><td>"+b.vote+"</td><td>"+b.username+"</td><td>"+b.date+"</td></tr>";
                  var html ="<tr><td><button type='button' class='btn btn-danger btn-circle' onclick='delCheckIn(\""+b._id+"\")'><i class='fa fa-times'></i></button></td><td>"+b.point+"</td><td>"+b.positive+"</td><td>"+b.negative+"</td><td>"+b.date+"</td><td>"+((b.fileId!=undefined&&b.fileId!='')?'<img src="https://4d95fb6045a5620c655b23a5fb89c327a758a1a5.googledrive.com/host/0ByYvAjjPTkj3fkxkTW80cHpLaEVBbENDWmh6dHFqSGlqN0VSczBQMDlaak9kcmRmYWtZSXM/'+ b.fileId+'" width=80px/>':'')+"</td><td><button class='btn btn-primary btn-sm' onclick='openModal("+ JSON.stringify(b.reply)+");' data-toggle='modal' data-target='#myModal'><i class='fa fa-envelope'/> "+b.reply.length+"</button></td></tr>";

                  tb.append(html);
              })
            })
  }

  function openModal(reply){
				console.log(reply);
    var replyHtml = "";
    $.each(reply,function(inx,rep){

		    replyHtml+='<li '+(inx%2==0?"":"class=timeline-inverted")+'>'+
						              '<div class="timeline-badge info"><i class="fa fa-check"></i></div>'+
								              '<div class="timeline-panel"><div class="timeline-heading">'+
								                '<h4 class="timeline-title">'+rep.username+'</h4>'+
								                  '<p><small class="text-muted"><i class="fa fa-clock-o"></i>'+rep.date +'</small></p></div>'+
								                    '<div class="timeline-body">'+
								                      '<p>'+rep.comment+'</p>'+
								                        '</div></div></li>'


    });

				$('#timeline').html(replyHtml);


  }

  function delCheckIn(id){
       $.post("/checkin/delete"
                ,{id:id}
                ,function(result){


		                toastr["info"](result.result);
				              socket.emit('checkin today',{group:"<%=whoami%>"});
                  getList();
            })
  }

  function makeChart(checkin){

    var datas = [];
    console.log(checkin);
    var dates={};
    var dateCnt = 0;
    var checkinLength = checkin.length;

    var datas = [];
    $.each(checkin,function(inx,data){
		    var dt = data.date;
		    var point = data.point;
		    var dateChecked = dates[dt];

		    dates[dt] = (dateChecked==undefined?dateCnt--:dateChecked);
		    datas.push([dates[dt],point]);

    });

    var tick=[];
    $.each(dates,function(key,data){
		    tick.push([data,key]);
    });

    var chartOption = {
		    series: { lines: { show: true }, points: { show: true } },
		    xaxis : { ticks:tick},
		    y2axis: { position:"right"},
		    grid  : { hoverable: true }
    }

    $.plot($("#flot-line-chart"), [datas],chartOption);


  }
</script>
		<script src="/bower_components/flot/jquery.flot.js"></script>
		<script src="/bower_components/flot/jquery.flot.pie.js"></script>
		<script src="/bower_components/flot/jquery.flot.resize.js"></script>
		<script src="/bower_components/flot/jquery.flot.time.js"></script>
		<script src="/bower_components/flot/jquery.flot.orderBars.js"></script>
		<script src="/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>

