<%layout('../layout')%>
<div id="page-wrapper">
    <div class="row">
		      <div class="col-lg-12">
		          <h1 class="page-header">Let's Check</h1>
        </div>
    </div>
				<div class="row">
								<div class="col-lg-2">
										<select class="form-control" name="checked_date" id="checked_date">
												<%for(var i in checkinDate){%>
												<option>
														<%=checkinDate[i].date%>
												</option>
												<%}%>
										</select>
								</div>
								<!-- /.col-lg-12 -->
				</div>
    <!-- /.row -->
				<div id="here">

				</div>


				<div class="row" >
						<div class="col-lg-6">
								<div class="panel panel-info">
										<div class="panel-heading">
												Today Check In on Bar Chart Graph
										</div>
										<!-- /.panel-heading -->
										<div class="panel-body">
												<div class="flot-chart">
														<div class="flot-chart-content" id="flot-bar-chart"></div>
												</div>
										</div>
										<!-- /.panel-body -->
								</div>
								<!-- /.panel -->
						</div>
						<div class="col-lg-6">
								<div class="panel panel-info">
										<div class="panel-heading">
												Today Check In on Pie Chart Graph
										</div>
										<!-- /.panel-heading -->
										<div class="panel-body">
												<div class="flot-chart">
														<div class="flot-chart-content" id="flot-pie-chart"></div>
												</div>
										</div>
										<!-- /.panel-body -->
								</div>
								<!-- /.panel -->
						</div>
						<!-- /.panel -->
				</div>
		<div class="row">
				<div class="col-lg-3 col-md-6">
						<div class="panel panel-primary">
								<div class="panel-heading">
										<div class="row">
												<div class="col-xs-3">
														<i class="fa fa-arrow-up fa-5x"></i>
												</div>
												<div class="col-xs-9 text-right">
														<div class="huge" id="maxpoint"></div>
														<div>Max Point!</div>
												</div>
										</div>
								</div>
						</div>
				</div>
				<div class="col-lg-3 col-md-6">
						<div class="panel panel-red">
								<div class="panel-heading">
										<div class="row">
												<div class="col-xs-3">
														<i class="fa fa-arrow-down fa-5x"></i>
												</div>
												<div class="col-xs-9 text-right">
														<div class="huge" id="minpoint"></div>
														<div>Min Point!</div>
												</div>
										</div>
								</div>
						</div>
				</div>
				<div class="col-lg-3 col-md-6">
						<div class="panel panel-yellow">
								<div class="panel-heading">
										<div class="row">
												<div class="col-xs-3">
														<i class="fa fa-support fa-5x"></i>
												</div>
												<div class="col-xs-9 text-right">
														<div class="huge" id="averagepoint"></div>
														<div>Average Point!</div>
												</div>
										</div>
								</div>
						</div>
				</div>
				<div class="col-lg-3 col-md-6">
						<div class="panel panel-green">
								<div class="panel-heading">
										<div class="row">
												<div class="col-xs-3">
														<i class="fa fa-users fa-5x"></i>
												</div>
												<div class="col-xs-9 text-right">
														<div class="huge" id="todaycheckin"></div>
														<div>Today Checkin!</div>
												</div>
										</div>
								</div>

						</div>
				</div>
		</div>
		<div class="row" >
				<div class="col-lg-12">
						<div class="panel panel-danger">
								<div class="panel-heading">
										Today Check In on Bar Chart Graph
								</div>
								<!-- /.panel-heading -->
								<div class="panel-body">
										<div class="flot-chart">
												<div class="flot-chart-content" id="flot-bar-last-chart"></div>
										</div>
								</div>
								<!-- /.panel-body -->
						</div>
						<!-- /.panel -->
				</div>
				<!-- Button trigger modal -->
				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
								<div class="modal-content">
										<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
												<h4 class="modal-title" id="myModalLabel">Send Reply</h4>
										</div>
										<div class="modal-body">
												<input class="form-control" id="comment" type="text" placeholder="Send your reply" \>
												<input type="hidden" id="mongoid" value=""/>
										</div>
										<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												<button type="button" id="reply" class="btn btn-primary">Reply</button>
										</div>
								</div>
								<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->

				<!-- Modal -->
				<div class="modal fade" id="myCommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
								<div class="modal-content">
										<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
												<h4 class="modal-title" id="myModalLabel">Replies</h4>
										</div>
										<div class="modal-body">
												<ul class="timeline" id="timeline">


												</ul>
										</div>
										<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

										</div>
								</div>
								<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
				<!-- Modal -->
				<div class="modal fade" id="myImageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
								<div class="modal-content">
										<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
												<h4 class="modal-title" id="myModalLabel">Check My Photo</h4>
										</div>
										<div class="modal-body">
												<img id="modalImageHere" src="" width="100%"/>
										</div>
										<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

										</div>
								</div>
								<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->

		</div>

</div>
<!-- /#page-wrapper -->
<script src="/socket.io/socket.io.js"></script>
<script>

		var socket;
		if((document.location.host).indexOf("gscheckin-iiccheckin")>-1){
				socket = io.connect('http://gscheckin-iiccheckin.rhcloud.com:8000/', {'forceNew':true });
		}else{
				socket = io.connect('http://'+document.location.host);
		}
		//var socket = io.connect('http://'+document.location.host);

		//var socket = io.connect('http://gscheckin-iiccheckin.rhcloud.com:8000/', {'forceNew':true });


		socket.on('connect', function () {
				console.log("Socket Connected");
				socket.emit('letscheck ready',{group:"<%=whoami%>"});
		});

		socket.on('checkin today', function(){
				getList();
				getLastList();
		});
		socket.on('reply checkin', function(data){
				console.log('reply checkin socket')
				var mongoid = data.mongoid;
				var reply = data.reply;

				$('#'+mongoid).remove();

				var btnHtml = "<button class='btn btn-danger btn-sm pull-right' id='"+String(mongoid)+"' onclick='openCommentModal("+ JSON.stringify(reply)+");' data-toggle='modal' data-target='#myCommentModal'><i class='fa fa-envelope'/> "+reply.length+"</button>";

				$('#footer_'+mongoid).append(btnHtml);



				$('#'+mongoid).blink(600, 5);

//				getList();
//				getLastList();
		});

		var check_list = [];
		var check_last = [];
		var before_date="";
		var ajaxFinished = {list:false
																					,last:false};

		$(document).ready(function(){

				$.fn.blink = function (speed, blink) {
						var options = {
								xSpeed: speed ? speed : 400, // Set the blink speed
								xBlink: blink ? blink : 5 // Set how many times the element should blink
						};
						for (var i = 0; i < options.xBlink; i++) {
								this.fadeOut(options.xSpeed);
								this.fadeIn(options.xSpeed);
						}
						return this; // To support jQuery chain-ability
				};



				toastr.options = {
						"closeButton": false,
						"debug": false,
						"newestOnTop": false,
						"progressBar": false,
						"positionClass": "toast-top-right",
						"preventDuplicates": false,
						"onclick": null,
						"showDuration": "300",
						"hideDuration": "1000",
						"timeOut": "5000",
						"extendedTimeOut": "1000",
						"showEasing": "swing",
						"hideEasing": "linear",
						"showMethod": "fadeIn",
						"hideMethod": "fadeOut"
				}

				getList();
				getLastList();
				$('#checked_date').on('change',function(e){
						getList();
						getLastList();
				})

				$('#reply').on("click",function(){
						$.post("/reply/create"
												,{mongoid:$('#mongoid').val(),
														comment:$('#comment').val()}
												,function(result){
										   toastr.info(result.result);
														//$('#myModal').hide();
														$('#myModal').modal('hide');
														$('#comment').val("");


														if(result.checkIn){
																console.log("!");
																socket.emit('reply checkin',{group:"<%=whoami%>",checkIn:result.checkIn});
														}

												})
				});

		})


		function getList(){
				var selectedDate = $('#checked_date').val();

				$.get("/letscheck/list"
						,{date:selectedDate}
						,function(result){

								var tb = $('#here');
								tb.html("");
								makeChart(result.checkin);
								check_list = result.checkin;
								var html ="";
								$.each(result.checkin,function(a,b){

										if(a%4==0){

												html+='<div class="row">';
										}
										var imgUrl = "/images/capture.PNG";
										//var html ="<tr><td><button type='button' class='btn btn-warning btn-circle' onclick='delCheckIn(\""+b._id+"\")'><i class='fa fa-times'></i></button></td><td>"+b.point+"</td><td>"+b.positive+"</td><td>"+b.negative+"</td><td>"+b.date+"</td></tr>";
										html +='<div class="col-lg-3">';
																					if(b.point>=7){
																							html+='<div class="panel panel-primary">';
																					}else if(b.point>4){
																							html+='<div class="panel panel-warning">';
																					}else{
																							html+='<div class="panel panel-danger">';
																					}

															html+=			'<div class="panel-heading">'+
																											b.username+
																								'</div>'+
																								'<div class="panel-body">'+
																										'<div class="alert alert-success" style="text-align: center;">'+
																												'<h3>'+ b.point+'</h3>'+
																										'</div>'+
																										'<div class="alert alert-info">'+
																													b.positive+
																										'</div>'+
																										'<div class="alert alert-danger">'+
																													b.negative+
																										'</div>';
															if(b.fileId){
																	html+='<div style="cursor: pointer;" onclick="openImageModal(\''+ b.fileId+'\')"  data-toggle="modal" data-target="#myImageModal">'+
																									'<img width="100%" src="'+'https://4d95fb6045a5620c655b23a5fb89c327a758a1a5.googledrive.com/host/0ByYvAjjPTkj3fkxkTW80cHpLaEVBbENDWmh6dHFqSGlqN0VSczBQMDlaak9kcmRmYWtZSXM/'+b.fileId+'"/>'+
																							'</div>';
															}

															html+=	'</div>'+
																								'<div class="panel-footer" id="footer_'+String(b._id)+'" ><button class="btn btn-primary btn-sm "  onclick="openModal(\''+ String(b._id)+'\');" data-toggle="modal" data-target="#myModal"><i class="fa fa-reply"/> Reply</button>'+
																								"<button class='btn btn-danger btn-sm pull-right' id='"+String(b._id)+"' onclick='openCommentModal("+ JSON.stringify(b.reply)+");' data-toggle='modal' data-target='#myCommentModal'><i class='fa fa-envelope'/> "+b.reply.length+"</button></div></div></div>";

										if(a%4==3){

												html+='</div>';
										}else if(a==result.checkin.length-1){
												html+='</div>';

										}
										if(a==result.checkin.length-1){

												

												$('#here').html(html);
										}



								});

								ajaxFinished.list = true;
								if(ajaxFinished.list&&ajaxFinished.last){
										makeBeforeAfterChart();
								}
						})
		}
		function openModal(_id){
				$('#mongoid').val(_id);
		}

		function openImageModal(id){
				console.log(id);

				$('#modalImageHere').attr("src",'https://4d95fb6045a5620c655b23a5fb89c327a758a1a5.googledrive.com/host/0ByYvAjjPTkj3fkxkTW80cHpLaEVBbENDWmh6dHFqSGlqN0VSczBQMDlaak9kcmRmYWtZSXM/'+id);

		}

		function openCommentModal(reply){
				var replyHtml = "";
				$.each(reply,function(inx,rep){

						replyHtml+='<li '+(inx%2==0?"":"class=timeline-inverted")+'>'+
								'<div class="timeline-badge info"><i class="fa fa-check"></i></div>'+
								'<div class="timeline-panel"><div class="timeline-heading">'+
								'<h4 class="timeline-title">'+rep.username+'</h4>'+
								'<p><small class="text-muted"><i class="fa fa-clock-o"></i>'+rep.date +'</small></p></div>'+
								'<div class="timeline-body">'+
								'<p>'+rep.comment+'</p>'+
								'</div></div></li>'


				});

				$('#timeline').html(replyHtml);


		}


		function getLastList(){
				var selectedDate = $('#checked_date').val();

				$.get("/letscheck/list/last"
						,{date:selectedDate}
						,function(result){

								check_last = result.last_checkin;
								before_date =result.before_date;
								ajaxFinished.last = true;

								if(ajaxFinished.list&&ajaxFinished.last){
										makeBeforeAfterChart();
								}

						})
		}

		function makeBeforeAfterChart(){
				//check_list
				//check_last

				var check_list_data = [[0,0]];
				var check_last_data = [[0,0]];
				var usercnt=0;
				var usernames={};
				var maxpoint=0;
				var minpoint=0;
				var sumpoint=0;
				var todaycheckin=check_list.length;


				$.each(check_list,function(inx,data){
						var un = data.username;
						var point = data.point;
						var userChecked = usernames[un];
						usernames[un] = (userChecked==undefined?usercnt++:userChecked);
						if(point>maxpoint) maxpoint = point;
						if(minpoint==0){
								minpoint = point;
						}else if(point<minpoint){
								minpoint = point;
						}
						sumpoint += point;
						check_list_data.push([usernames[un],point]);

				});
				$.each(check_last,function(i,d){
						var lun = d.username;
						var lpoint = d.point;
						var userChecked = usernames[lun];
						usernames[lun] = (userChecked==undefined?usercnt++:userChecked);
						check_last_data.push([usernames[lun],lpoint]);

				});

				var tick=[];
				$.each(usernames,function(key,data){
						tick.push([data,key]);
				});

				var data = [
						{label: before_date, data: check_last_data, bars: {fillColor: "#336600"}, color: "#336600"},
						{label: $('#checked_date').val(), data: check_list_data, bars: {fillColor: "#E41B17"}, color: "#E41B17"}
				];
				var options = {
						xaxis: {
								min: -1,
								max: 20,
								mode: null,
								ticks: tick,
								tickLength: 0,
								axisLabel: "App",
								axisLabelUseCanvas: true,
								axisLabelFontSizePixels: 12,
								axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
								axisLabelPadding: 5
						}, yaxis: {
								axisLabel: "No of builds",
								tickDecimals: 0,
								axisLabelUseCanvas: true,
								axisLabelFontSizePixels: 12,
								axisLabelFontFamily: "Verdana, Arial, Helvetica, Tahoma, sans-serif",
								axisLabelPadding: 5
						}, grid: {
								hoverable: true,
								clickable: false,
								borderWidth: 1
						}, legend: {
								labelBoxBorderColor: "none",
								position: "right"
						}, series: {
								shadowSize: 1,
								bars: {
										show: true,
										barWidth: 0.13,
										order: 1
								}
						}
				};

				$.plot($("#flot-bar-last-chart"), data, options);
				$('#maxpoint').html(maxpoint);
				$('#minpoint').html(minpoint);
				$('#averagepoint').html(Math.round(sumpoint/todaycheckin));
				$('#todaycheckin').html(todaycheckin);
		}

		function makeChart(checkin){
				var datas = [];
				var pieDatas = [];
				var summary = {};
				$("#flot-pie-chart").html("");
				$("#flot-bar-chart").html("");
				$("#flot-bar-last-chart").html("");
				$('#maxpoint').html("");
				$('#minpoint').html("");
				$('#averagepoint').html("");
				$('#todaycheckin').html("");

				$.each(checkin,function(inx,data){

						for(var i=1;i<11;i++){
								if(data.point==i){
										var val = summary[data.point];
										summary[data.point] = (val==undefined?1:val+1);

								}

								if((inx==checkin.length-1)&&(i==10)){
										for(var s in summary){
												datas.push([s,summary[s]]);

												pieDatas.push({label:s,data:summary[s]})
										}

										var barData = {
												label: "bar",
												data: datas
										};

										var ticks = [
												[1, "1 Point"], [2, "2 Point"], [3, "3 Point"], [4, "4 Point"], [5, "5 Point"], [6, "6 Point"], [7, "7 Point"], [8, "8 Point"], [9, "9 Point"], [10, "10 Point"]];

										var barOptions = {
												series: {
														bars: {
																show: true

														}
												},
												bars:{
														align:"center",
														barWidth:0.5
												},
												xaxis: {

														ticks:ticks
												},
												yaxis: {
														tickFormatter: function (v, axis) {
																return v + "";
														}
												},
												grid: {
														hoverable: true
												},
												legend: {
														show: false
												},
												tooltip: true,
												tooltipOpts: {
														content: "x: %x, y: %y"
												}
										};

										$.plot($("#flot-bar-chart"), [barData], barOptions);

										var plotObj = $.plot($("#flot-pie-chart"), pieDatas, {
												series: {
														pie: {
																show: true
														}
												},
												grid: {
														hoverable: true
												},
												tooltip: true,
												tooltipOpts: {
														content: "%p.0%, %s", // show percentages, rounding to 2 decimal places
														shifts: {
																x: 20,
																y: 0
														},
														defaultTheme: false
												}
										});
								}
						}
				});


		}


</script>

<script src="/bower_components/flot/jquery.flot.js"></script>
<script src="/bower_components/flot/jquery.flot.pie.js"></script>
<script src="/bower_components/flot/jquery.flot.resize.js"></script>
<script src="/bower_components/flot/jquery.flot.time.js"></script>
<script src="/bower_components/flot/jquery.flot.orderBars.js"></script>
<script src="/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>